<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document1</title>
</head>
<body>
    <!--
        <center><h1> if condition</h1></center>
         {% if  a > 10 %}
            <center><h1> A IS GREATERTHAN 10</h1></center>
        {% endif %}
    -->

    
    <!--
        
        
        <center><h1>if-else condition</h1></center>
    {% if  a > b %}
        <center><h1> A IS GREATERTHAN B </h1></center>
    {% else %}
        <center><h1>B IS GREATERTHAN A</h1></center>
    {% endif %}
    -->


    <!--
    <center><h1>if-elif-else</h1></center>
    {% if  a > b %}
        <center><h1> A IS GREATERTHAN B </h1></center>
    {% elif b > c %}
        <center><h1>B IS GREATERTHAN A,C</h1></center>
    {% else %}
        <center><h1>C IS GREATERTHAN A,B</h1></center>
    {% endif %}


     --><center><h1>NESTEAD IF-ELSE</h1></center>
    {% if  a > b %}
        {% if a > c %}
            <center><h1> A IS GREATERTHAN C </h1></center>
        {% else %}
            <center><h1> C IS GREATERTHAN A </h1></center>
        {% endif %}
    {% else %}
        {% if b > C %}
            <center><h1> B IS GREATERTHAN C </h1></center>
        {% else %}
            <center><h1> C IS GREATERTHAN B </h1></center>
        {% endif %}
    {% endif %}





    
    

</body>
</html>